<html>
<head><title>Demo LTI Tool Consumer</title></head>
<body>
<p>This is an LTI Tool Consumer. Give your name and we'll get started:</p>

<form action="/set_name" method="post">
  <input name='username' type='text' id='username'/>
  <button type='submit'>Submit</button>
</form>
</body>
</html>
