<html>
<head><title>Return to TC</title></head>
<body>
  <p>Welcome back to the tool consumer demo app</p>
  <% if @message %>
    <p>Message from TP: <%= @message %></p>
  <% end %>
  <% if @error_message %>
    <p>Error from TP: <%= @error_message %></p>
  <% end %>

  <h2>return parameters</h2>
  <table>
    <tr>
      <td colspan="2">Return Parameters</td>
    </tr>
    <% @params.each_pair do |key, val| %>
      <tr>
        <td><%= key %></td>
        <td><%= val %></td>
      </tr>
    <% end %>
  </table>

<p><a href="/tool_config">Launch another tool</a></p>
</body>
</html>