<html>
<head><title>Configure a Tool Provider</title></head>
<body>
<style type="text/css">
  input {
    width: 45em;
  }
</style>

<h1>Tool Provider Configuration</h1>
<p>Hey <%= @username %>, let's launch a Tool Provider!</p>
<% if @message %>
  <p style="color: #ff3d23;"><%= @message %></p>
<% end %>
<form action="/tool_launch" method="post">
  <table>
    <tr>
      <td>Tool Name</td>
      <td><input name="tool_name" type="text" value="test engrade"/></td>
    </tr>
    <tr>
      <td>Consumer Key</td>
      <td><input name="consumer_key" type="text" value="speakez_key"/></td>
    </tr>
    <tr>
      <td>Consumer Secret</td>
      <td><input name="consumer_secret" type="text" value="speakez_secret"/></td>
    </tr>
    <tr>
      <td>lms provider url(eg cap activity)</td>
      <td><input name="launch_url" type="text" value="http://localhost:3000/activity_lists/1/activities/1?custom_course_id=1&html5=1"/></td>
    </tr>

    <tr>
      <td>Tool consumer info product family code (eg engrade, blackboard...)</td>
      <td><input name="tool_consumer_info_product_family_code" type="text" value="engrade"/></td>
    </tr>


    <tr>
      <td>Launch as assignment</td>
      <td><input type="checkbox" name="assignment" checked="checked"></td>
    </tr>
    <tr>
      <td>Launch automatically</td>
      <td><input type="checkbox" name="autolaunch" checked="checked"></td>
    </tr>
  </table>

  <button type="submit">Submit</button>
</form>
</body>
</html>